In [33]:
#1 read csv
#2 select remarks col
#3 url open
#4 collect link or scrape
#5 insert after remark
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
f = pd.ExcelFile('14 Dec - 27 June 7-Eleven GrabBike  Report.xlsx')
f

In [34]:
seven_file = f.parse('Sheet1')
seven_file.head()

,creation_time,TH_time,passenger1_name,remarks,state
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
2,2016-12-14 07:31:22,2016-12-14 14:31:22,Tee,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
3,2016-12-14 07:40:07,2016-12-14 14:40:07,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
4,2016-12-14 08:34:00,2016-12-14 15:34:00,Sugar Closet,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED

In [35]:
seven_file.remarks.count()

1192

In [36]:
seven_file.remarks[0]

u'\u0e01\u0e23\u0e38\u0e13\u0e32\u0e41\u0e2a\u0e14\u0e07\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25\u0e43\u0e19\u0e25\u0e34\u0e07\u0e04\u0e4c\u0e19\u0e35\u0e49\u0e43\u0e2b\u0e49\u0e1e\u0e19\u0e31\u0e01\u0e07\u0e32\u0e19 7-Eleven. https://goo.gl/q24VZT'

In [37]:
import urllib2

In [38]:
seven_file.remarks[0].split('https://goo.gl/')[1]

u'q24VZT'

In [39]:
s = 'https://goo.gl/'+str((seven_file.remarks[0].split('https://goo.gl/')[1]))
s

'https://goo.gl/q24VZT'

In [40]:
def readfile(n):
    f = urllib2.urlopen('https://goo.gl/'+str((seven_file.remarks[n].split('https://goo.gl/')[1].split(' ')[0])))
    page = f.read()
    return page.split('<p>Order ID</p>\n      <h2>')[1].split('<')[0]

In [41]:
s =readfile(0)
print s

eMHDgDv9Ig

if seven_file['remarks'].isnull:
    print 'null'
else:
    print 'not null'

In [42]:
seven_file.head()

,creation_time,TH_time,passenger1_name,remarks,state
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
2,2016-12-14 07:31:22,2016-12-14 14:31:22,Tee,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
3,2016-12-14 07:40:07,2016-12-14 14:40:07,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
4,2016-12-14 08:34:00,2016-12-14 15:34:00,Sugar Closet,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED

In [43]:
seven_file['remarks'].fillna(0,inplace=True)

seven_file['link'] = ['text' if isnull(even_file['remarks']) else s]

In [44]:
seven_file.head()

,creation_time,TH_time,passenger1_name,remarks,state
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
2,2016-12-14 07:31:22,2016-12-14 14:31:22,Tee,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
3,2016-12-14 07:40:07,2016-12-14 14:40:07,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
4,2016-12-14 08:34:00,2016-12-14 15:34:00,Sugar Closet,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED

In [45]:
count = 0

In [ ]:
fw = open('collect_data1.txt','w')
count = -1
lists = []

def time_stamp():
    tstamp = datetime.now()
    return tstamp

print time_stamp()

for n in seven_file.remarks:
    count = count+1
    #print count
    try:
        s =readfile(count)
        #fw.write(str(count)+','+str(s)+'\n')
    except:
        s = 'error'
        #fw.write(str(count)+'\n')
    print count,s
    lists.append(s)
fw.close()

print time_stamp()

In [ ]:
seven_file['link'] = lists

In [ ]:
seven_file

In [ ]:
seven_file.to_csv('seven_file.csv',sep=',',encoding='utf-8')

	creation_time	TH_time	distance_source	passenger1_id	passenger1_name	remarks	state	link
0	12/14/2016 6:24	12/14/2016 13:24	IPHONE2-POI	7066160	Wilaiwan Dhrammajariyapong	เธเธฃเธธเธ“เธฒเนเธชเธ”เธเธเนเธญเธกเธนเธฅเนเธเธฅเธดเธเธเนเธเธตเนเนเธซเนเธเธเธฑเธเธเธฒเธ 7-Eleven. https://goo.gl/DDfl6O	COMPLETED	Oujdtytzbp