In [18]:
#1 read csv
#2 select remarks col
#3 url open
#4 collect link or scrape
#5 insert after remark
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
f = pd.ExcelFile('14 Dec - 27 June 7-Eleven GrabBike  Report2.xlsx')
f

In [19]:
seven_file = f.parse('Sheet1')
seven_file.head()

,creation_time,TH_time,passenger1_name,remarks,state
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
2,2017-06-19 12:21:00,2017-06-19 19:21:00,Min G,ซื้อของที่ 7-11. https://goo.gl/saB91a 08187...,COMPLETED
3,2017-06-19 13:41:00,2017-06-19 20:41:00,Jack T.,ซื้อของที่ 7-11. https://goo.gl/dUJLGA,COMPLETED

In [20]:
seven_file.remarks.count()

4

In [21]:
seven_file.remarks[2]

u'\u0e0b\u0e37\u0e49\u0e2d\u0e02\u0e2d\u0e07\u0e17\u0e35\u0e48 7-11. https://goo.gl/saB91a   0818714495 \u0e2a\u0e48\u0e07\u0e02\u0e2d\u0e07\u0e43\u0e19\u0e2a\u0e19\u0e32\u0e21\u0e1f\u0e38\u0e15\u0e1a\u0e2d\u0e25\u0e04\u0e23\u0e31\u0e1a'

In [22]:
import urllib2

In [23]:
seven_file.remarks[2].split('https://goo.gl/')[1]

u'saB91a   0818714495 \u0e2a\u0e48\u0e07\u0e02\u0e2d\u0e07\u0e43\u0e19\u0e2a\u0e19\u0e32\u0e21\u0e1f\u0e38\u0e15\u0e1a\u0e2d\u0e25\u0e04\u0e23\u0e31\u0e1a'

In [34]:
s = 'https://goo.gl/'+str((seven_file.remarks[2].split('https://goo.gl/')[1].split(' ')[0]))
s

'https://goo.gl/saB91a'

In [25]:
def readfile(n):
    f = urllib2.urlopen('https://goo.gl/'+str((seven_file.remarks[n].split('https://goo.gl/')[1])))
    page = f.read()
    return page.split('<p>Order ID</p>\n      <h2>')[1].split('<')[0]

In [26]:
s =readfile(3)
print s

w7HvRGBGPF

if seven_file['remarks'].isnull:
    print 'null'
else:
    print 'not null'

In [27]:
seven_file.head()

,creation_time,TH_time,passenger1_name,remarks,state
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
2,2017-06-19 12:21:00,2017-06-19 19:21:00,Min G,ซื้อของที่ 7-11. https://goo.gl/saB91a 08187...,COMPLETED
3,2017-06-19 13:41:00,2017-06-19 20:41:00,Jack T.,ซื้อของที่ 7-11. https://goo.gl/dUJLGA,COMPLETED

In [28]:
seven_file['remarks'].fillna(0,inplace=True)

seven_file['link'] = ['text' if isnull(even_file['remarks']) else s]

In [29]:
seven_file.head()

,creation_time,TH_time,passenger1_name,remarks,state
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
2,2017-06-19 12:21:00,2017-06-19 19:21:00,Min G,ซื้อของที่ 7-11. https://goo.gl/saB91a 08187...,COMPLETED
3,2017-06-19 13:41:00,2017-06-19 20:41:00,Jack T.,ซื้อของที่ 7-11. https://goo.gl/dUJLGA,COMPLETED

In [30]:
count = 0

In [31]:
fw = open('collect_data.txt','w')
count = -1
lists = []
for n in seven_file.remarks:
    count = count+1
    #print count
    try:
        s =readfile(count)
        #fw.write(str(count)+','+str(s)+'\n')
    except:
        s = 'error'
        #fw.write(str(count)+'\n')
    lists.append(s)
fw.close()

In [32]:
seven_file['link'] = lists

In [33]:
seven_file

,creation_time,TH_time,passenger1_name,remarks,state,link
0,2016-12-06 08:48:38,2016-12-06 15:48:38,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED,eMHDgDv9Ig
1,2016-12-14 06:24:09,2016-12-14 13:24:09,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED,Oujdtytzbp
2,2017-06-19 12:21:00,2017-06-19 19:21:00,Min G,ซื้อของที่ 7-11. https://goo.gl/saB91a 08187...,COMPLETED,error
3,2017-06-19 13:41:00,2017-06-19 20:41:00,Jack T.,ซื้อของที่ 7-11. https://goo.gl/dUJLGA,COMPLETED,w7HvRGBGPF

In [17]:
seven_file.to_csv('seven_file.csv',sep=',',encoding='utf-8')

	creation_time	TH_time	distance_source	passenger1_id	passenger1_name	remarks	state	link
0	12/14/2016 6:24	12/14/2016 13:24	IPHONE2-POI	7066160	Wilaiwan Dhrammajariyapong	เธเธฃเธธเธ“เธฒเนเธชเธ”เธเธเนเธญเธกเธนเธฅเนเธเธฅเธดเธเธเนเธเธตเนเนเธซเนเธเธเธฑเธเธเธฒเธ 7-Eleven. https://goo.gl/DDfl6O	COMPLETED	Oujdtytzbp