In [52]:
#1 read csv
#2 select remarks col
#3 url open
#4 collect link or scrape
#5 insert after remark
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
f = pd.ExcelFile('TH_7-eleven 14-18 Dec.xls')
f

In [53]:
seven_file = f.parse('Sheet1')
seven_file.head()

,creation_time,TH_time,distance_source,passenger1_id,passenger1_name,remarks,state
0,2016-12-14 06:24:09,2016-12-14 13:24:09,IPHONE2-POI,7066160,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 07:21:47,2016-12-14 14:21:47,ANDROID2-POI,2247921,Kai,NaN,COMPLETED
2,2016-12-14 07:31:22,2016-12-14 14:31:22,ANDROID2-POI,455541,Tee,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
3,2016-12-14 07:40:07,2016-12-14 14:40:07,ANDROID2-POI,6862205,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
4,2016-12-14 07:44:38,2016-12-14 14:44:38,ANDROID2-POI,12278436,Care,NaN,COMPLETED

In [54]:
seven_file.remarks.count()

42

In [55]:
seven_file['TH_time'].head()

0   2016-12-14 13:24:09
1   2016-12-14 14:21:47
2   2016-12-14 14:31:22
3   2016-12-14 14:40:07
4   2016-12-14 14:44:38
Name: TH_time, dtype: datetime64[ns]

In [56]:
seven_file.remarks[2]

u'\u0e01\u0e23\u0e38\u0e13\u0e32\u0e41\u0e2a\u0e14\u0e07\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25\u0e43\u0e19\u0e25\u0e34\u0e07\u0e04\u0e4c\u0e19\u0e35\u0e49\u0e43\u0e2b\u0e49\u0e1e\u0e19\u0e31\u0e01\u0e07\u0e32\u0e19 7-Eleven. https://goo.gl/TNxAVM'

In [57]:
import urllib2

In [58]:
seven_file.remarks[2].split('7-Eleven. ')[1]

u'https://goo.gl/TNxAVM'

In [59]:
def readfile(n):
    f = urllib2.urlopen(seven_file.remarks[n].split('7-Eleven. ')[1])
    page = f.read()
    return page.split('<p>Order ID</p>\n      <h2>')[1].split('<')[0]

In [65]:
s =readfile(6)
print s

tHTEYDl7tS

if seven_file['remarks'].isnull:
    print 'null'
else:
    print 'not null'

In [66]:
seven_file.head()

,creation_time,TH_time,distance_source,passenger1_id,passenger1_name,remarks,state
0,2016-12-14 06:24:09,2016-12-14 13:24:09,IPHONE2-POI,7066160,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 07:21:47,2016-12-14 14:21:47,ANDROID2-POI,2247921,Kai,NaN,COMPLETED
2,2016-12-14 07:31:22,2016-12-14 14:31:22,ANDROID2-POI,455541,Tee,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
3,2016-12-14 07:40:07,2016-12-14 14:40:07,ANDROID2-POI,6862205,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
4,2016-12-14 07:44:38,2016-12-14 14:44:38,ANDROID2-POI,12278436,Care,NaN,COMPLETED

seven_file['link'] = ['text' if isnull(even_file['remarks']) else s]

In [67]:
seven_file.head()

,creation_time,TH_time,distance_source,passenger1_id,passenger1_name,remarks,state
0,2016-12-14 06:24:09,2016-12-14 13:24:09,IPHONE2-POI,7066160,Wilaiwan Dhrammajariyapong,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
1,2016-12-14 07:21:47,2016-12-14 14:21:47,ANDROID2-POI,2247921,Kai,NaN,COMPLETED
2,2016-12-14 07:31:22,2016-12-14 14:31:22,ANDROID2-POI,455541,Tee,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
3,2016-12-14 07:40:07,2016-12-14 14:40:07,ANDROID2-POI,6862205,Poyroi Ka,กรุณาแสดงข้อมูลในลิงค์นี้ให้พนักงาน 7-Eleven. ...,COMPLETED
4,2016-12-14 07:44:38,2016-12-14 14:44:38,ANDROID2-POI,12278436,Care,NaN,COMPLETED

In [68]:
count = 0

In [ ]:
fw = open('collect_data.txt','w')
count = 0
for n in seven_file.remarks:
    count = count+1
    print count
    try:
        s =readfile(count)
        print s
        #fw.write(str(count)+','+str(s)+'\n')
    except:
        print 'error'
        fw.write(str(count)+'\n')
    
fw.close()

1
error
2
vmfjmYKFl1
3
OvMmAocrCl
4
error
5
error
6
tHTEYDl7tS
7
mQsnmNn0a4
8
XhbBV7Qhdp
9
error
10
ZePhpk9lLB
11
error
12
error
13
error
14
error
15
error
16
ODeCDSBrNH
17
error
18
error
19
error
20
05hsI9ksrc
21
error
22
8FGWHYitDD
23
UQziyUauWM
24
error
25
error
26
FJ4fLw3RE0
27
error
28
error
29
error
30
error
31
5YoSbphz4d
32
qiBk8cioMP
33
5GRJKzlf8N
34
W3GTYj8ogp
35
PtMoAccibJ
36
kBpwgR9FZo
37
2sMvgjzutq
38
Sz93MQWGhy
39
error
40
s8z1iPpqsk
41
error
42
rVjfDfmwX7
43
SAa3G9O4zZ
44
drGFfqS4L9
45
VyyJSajiCx
46
error
47
error
48
M8fBklUnKa
49