In [476]:
import numpy as np
import pandas as pd
from pandas import DataFrame
#Join train_data
#pick test data
#Scoring

import numpy as np
from sklearn.model_selection import train_test_split

In [477]:
f1 = pd.read_csv('stores.csv')
f2 = pd.read_csv('features.csv')
f3 = pd.read_csv('train.csv')

In [478]:
f1.head(2)

   Store Type    Size
0      1    A  151315
1      2    A  202307

In [479]:
f2 =f2.drop('IsHoliday',axis=1)
#f2 =f2.drop(['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5'],axis=1)
f2.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106

In [480]:
f3.head(2)

   Store  Dept        Date  Weekly_Sales IsHoliday
0      1     1  2010-02-05      24924.50     False
1      1     1  2010-02-12      46039.49      True

In [481]:
df = pd.merge(f3,f2,how='left',on=['Store','Date'])
df = pd.merge(df,f1,how='left',on='Store')
df.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315

In [482]:
#df = df.dropna()
df = df.fillna(0)

In [483]:
df = df.drop('Date',axis=1)

In [484]:
df.count()

Store           421570
Dept            421570
Weekly_Sales    421570
IsHoliday       421570
Temperature     421570
Fuel_Price      421570
MarkDown1       421570
MarkDown2       421570
MarkDown3       421570
MarkDown4       421570
MarkDown5       421570
CPI             421570
Unemployment    421570
Type            421570
Size            421570
dtype: int64

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()
le.fit(df.Type)
LabelEncoder()
le.transform

In [485]:
df.Type.value_counts()

A    215478
B    163495
C     42597
Name: Type, dtype: int64

In [486]:
df = pd.get_dummies(df,columns = ['Type','IsHoliday'])
df.head()

,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,Type_A,Type_B,Type_C,IsHoliday_False,IsHoliday_True
0,1,1,24924.50,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,151315,1,0,0,1,0
1,1,1,46039.49,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,151315,1,0,0,0,1
2,1,1,41595.55,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,151315,1,0,0,1,0
3,1,1,19403.54,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,151315,1,0,0,1,0
4,1,1,21827.90,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,151315,1,0,0,1,0

In [487]:
df = df.drop(['Type_A','IsHoliday_False'],axis=1)

In [488]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 16 columns):
Store             421570 non-null int64
Dept              421570 non-null int64
Weekly_Sales      421570 non-null float64
Temperature       421570 non-null float64
Fuel_Price        421570 non-null float64
MarkDown1         421570 non-null float64
MarkDown2         421570 non-null float64
MarkDown3         421570 non-null float64
MarkDown4         421570 non-null float64
MarkDown5         421570 non-null float64
CPI               421570 non-null float64
Unemployment      421570 non-null float64
Size              421570 non-null int64
Type_B            421570 non-null uint8
Type_C            421570 non-null uint8
IsHoliday_True    421570 non-null uint8
dtypes: float64(10), int64(3), uint8(3)
memory usage: 46.2 MB

In [489]:
#df['Date'] = pd.to_datetime(df['Date'])
df['Type_B'] = df.Type_B.astype(float)
df['Type_C'] = df.Type_C.astype(float)
df['IsHoliday_True'] = df.IsHoliday_True.astype(float)

In [490]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 16 columns):
Store             421570 non-null int64
Dept              421570 non-null int64
Weekly_Sales      421570 non-null float64
Temperature       421570 non-null float64
Fuel_Price        421570 non-null float64
MarkDown1         421570 non-null float64
MarkDown2         421570 non-null float64
MarkDown3         421570 non-null float64
MarkDown4         421570 non-null float64
MarkDown5         421570 non-null float64
CPI               421570 non-null float64
Unemployment      421570 non-null float64
Size              421570 non-null int64
Type_B            421570 non-null float64
Type_C            421570 non-null float64
IsHoliday_True    421570 non-null float64
dtypes: float64(13), int64(3)
memory usage: 54.7 MB

In [491]:
df.head()

,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,Type_B,Type_C,IsHoliday_True
0,1,1,24924.50,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,151315,0.0,0.0,0.0
1,1,1,46039.49,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,151315,0.0,0.0,1.0
2,1,1,41595.55,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,151315,0.0,0.0,0.0
3,1,1,19403.54,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,151315,0.0,0.0,0.0
4,1,1,21827.90,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,151315,0.0,0.0,0.0

In [492]:
## Y for train
df_y = df.Weekly_Sales

In [493]:
## X for train
df_x = df.drop('Weekly_Sales',axis=1)
df.head(2)

,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,Type_B,Type_C,IsHoliday_True
0,1,1,24924.50,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,151315,0.0,0.0,0.0
1,1,1,46039.49,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,151315,0.0,0.0,1.0

In [494]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.20, random_state=42)

In [495]:
x_test.count()

Store             84314
Dept              84314
Temperature       84314
Fuel_Price        84314
MarkDown1         84314
MarkDown2         84314
MarkDown3         84314
MarkDown4         84314
MarkDown5         84314
CPI               84314
Unemployment      84314
Size              84314
Type_B            84314
Type_C            84314
IsHoliday_True    84314
dtype: int64

In [496]:
y_test.count()

84314

import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
imp = Imputer(missing_values=‘NaN’,
    strategy=‘mean’, axis=0)
imp.fit([1, 2, 3, 4, 5, 6, 7])
x = pd.Series(imp.transform(s).tolist()[0])
print x

In [497]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit (x_train,y_train)
pred = reg.predict(x_test)

from sklearn.metrics import r2_score
r2_score(y_test,pred)

0.09205017897273915

In [498]:
reg.coef_

array([ -1.40192429e+02,   1.10151855e+02,   1.63912292e+01,
        -5.46443252e+02,   2.34397307e-02,  -6.05494325e-03,
         1.06423334e-01,  -1.12311948e-02,   8.93837504e-02,
        -2.71802920e+01,  -2.32044285e+02,   9.73604866e-02,
        -2.75822870e+02,   5.79237180e+03,   6.59546497e+02])