In [322]:
import numpy as np
import pandas as pd
from pandas import DataFrame
#Join train_data
#pick test data
#Scoring

import numpy as np
from sklearn.model_selection import train_test_split

In [323]:
f1 = pd.read_csv('stores.csv')
f2 = pd.read_csv('features.csv')
f3 = pd.read_csv('train.csv')

In [324]:
f1.head(2)

   Store Type    Size
0      1    A  151315
1      2    A  202307

In [325]:
f2 =f2.drop('IsHoliday',axis=1)
#f2 =f2.drop(['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5'],axis=1)
f2.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106

In [326]:
f3.head(2)

   Store  Dept        Date  Weekly_Sales IsHoliday
0      1     1  2010-02-05      24924.50     False
1      1     1  2010-02-12      46039.49      True

In [327]:
df = pd.merge(f3,f2,how='left',on=['Store','Date'])
df = pd.merge(df,f1,how='left',on='Store')
df.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315

In [341]:
df = df.dropna()

In [342]:
df.count()

Store             97056
Dept              97056
Date              97056
Weekly_Sales      97056
Temperature       97056
Fuel_Price        97056
MarkDown1         97056
MarkDown2         97056
MarkDown3         97056
MarkDown4         97056
MarkDown5         97056
CPI               97056
Unemployment      97056
Size              97056
Type_B            97056
Type_C            97056
IsHoliday_True    97056
dtype: int64

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()
le.fit(df.Type)
LabelEncoder()
le.transform

In [343]:
df.Type.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Type'

In [344]:
df = pd.get_dummies(df,columns = ['Type','IsHoliday'])
df.head()

ValueError: labels ['Type' 'IsHoliday'] not contained in axis

In [345]:
df = df.drop(['Type_A','IsHoliday_False'],axis=1)

ValueError: labels ['Type_A' 'IsHoliday_False'] not contained in axis

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97056 entries, 92 to 421569
Data columns (total 17 columns):
Store             97056 non-null int64
Dept              97056 non-null int64
Date              97056 non-null datetime64[ns]
Weekly_Sales      97056 non-null float64
Temperature       97056 non-null float64
Fuel_Price        97056 non-null float64
MarkDown1         97056 non-null float64
MarkDown2         97056 non-null float64
MarkDown3         97056 non-null float64
MarkDown4         97056 non-null float64
MarkDown5         97056 non-null float64
CPI               97056 non-null float64
Unemployment      97056 non-null float64
Size              97056 non-null int64
Type_B            97056 non-null float64
Type_C            97056 non-null float64
IsHoliday_True    97056 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(3)
memory usage: 13.3 MB

In [347]:
df['Date'] = pd.to_datetime(df['Date'])
df['Type_B'] = df.Type_B.astype(float)
df['Type_C'] = df.Type_C.astype(float)
df['IsHoliday_True'] = df.IsHoliday_True.astype(float)

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97056 entries, 92 to 421569
Data columns (total 17 columns):
Store             97056 non-null int64
Dept              97056 non-null int64
Date              97056 non-null datetime64[ns]
Weekly_Sales      97056 non-null float64
Temperature       97056 non-null float64
Fuel_Price        97056 non-null float64
MarkDown1         97056 non-null float64
MarkDown2         97056 non-null float64
MarkDown3         97056 non-null float64
MarkDown4         97056 non-null float64
MarkDown5         97056 non-null float64
CPI               97056 non-null float64
Unemployment      97056 non-null float64
Size              97056 non-null int64
Type_B            97056 non-null float64
Type_C            97056 non-null float64
IsHoliday_True    97056 non-null float64
dtypes: datetime64[ns](1), float64(13), int64(3)
memory usage: 13.3 MB

In [349]:
df.head()

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,Type_B,Type_C,IsHoliday_True
92,1,1,2011-11-11,18689.54,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,151315,0.0,0.0,0.0
93,1,1,2011-11-18,19050.66,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,151315,0.0,0.0,0.0
94,1,1,2011-11-25,20911.25,60.14,3.236,410.31,98.00,55805.51,8.00,554.92,218.467621,7.866,151315,0.0,0.0,1.0
95,1,1,2011-12-02,25293.49,48.91,3.172,5629.51,68.00,1398.11,2084.64,20475.32,218.714733,7.866,151315,0.0,0.0,0.0
96,1,1,2011-12-09,33305.92,43.93,3.158,4640.65,19.00,105.02,3639.42,14461.82,218.961846,7.866,151315,0.0,0.0,0.0

In [350]:
## Y for train
df_y = df.Weekly_Sales

In [351]:
## X for train
df_x = df.drop('Weekly_Sales',axis=1)
df.head(2)

,Store,Dept,Date,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,Type_B,Type_C,IsHoliday_True
92,1,1,2011-11-11,18689.54,59.11,3.297,10382.90,6115.67,215.07,2406.62,6551.42,217.998085,7.866,151315,0.0,0.0,0.0
93,1,1,2011-11-18,19050.66,62.25,3.308,6074.12,254.39,51.98,427.39,5988.57,218.220509,7.866,151315,0.0,0.0,0.0

In [352]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.20, random_state=42)

import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer
s = pd.Series([1, 2, 3, np.NaN, 5, 6, None])
imp = Imputer(missing_values=‘NaN’,
    strategy=‘mean’, axis=0)
imp.fit([1, 2, 3, 4, 5, 6, 7])
x = pd.Series(imp.transform(s).tolist()[0])
print x

In [353]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit (x_train,y_train)
pred = reg.predict(x_test)

TypeError: float() argument must be a string or a number