In [1]:
import numpy as np

In [5]:
my_list1 = [1,2,3,4]

In [6]:
my_array1 = np.array(my_list1)

In [7]:
my_array1

array([1, 2, 3, 4])

In [8]:
my_list2 = [11,22,33,44]

In [9]:
my_lists = [my_list1,my_list2]

In [10]:
my_lists

[[1, 2, 3, 4], [11, 22, 33, 44]]

In [11]:
my_array2 = np.array(my_lists)

In [12]:
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [13]:
my_array2.shape

(2L, 4L)

In [14]:
my_array2.dtype

dtype('int32')

In [15]:
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [16]:
np.ones([5,5])

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [17]:
np.eye(5)

array([[ 1.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  1.]])

In [19]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [21]:
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])

# lecture 8

In [23]:
5.0/2

2.5

In [25]:
from __future__ import division

In [26]:
5/2

2.5

In [31]:
arr1 = np.array([[1,2,3,4],[5,6,7,8]])

In [32]:
arr1

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [33]:
arr1*arr1

array([[ 1,  4,  9, 16],
       [25, 36, 49, 64]])

In [34]:
1/arr1

array([[ 1.        ,  0.5       ,  0.33333333,  0.25      ],
       [ 0.2       ,  0.16666667,  0.14285714,  0.125     ]])

# lecture 14

In [36]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [39]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [40]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [42]:
import webbrowser
web = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(web)

True

In [47]:
nfl_frame = pd.read_clipboard()

In [49]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East

In [51]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Division'],
      dtype='object')

In [61]:
DataFrame(nfl_frame,columns=['New','Total Games'])

   New Total Games
0  NaN         866
1  NaN       1,320
2  NaN       1,354
3  NaN         784
4  NaN         868

In [62]:
nfl_frame['New'] = 'test'

In [63]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,New
0,1,Dallas Cowboys,493,367,6,0.573,1960,866,NFC East,test
1,2,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,test
2,3,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,test
3,4,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,test
4,5,New England Patriots,476,383,9,0.554,1960,868,AFC East,test

In [66]:
my_ser = Series([11,12,13],index=[5,6,7])
my_index = my_ser.index

In [69]:
my_index[2:]

Int64Index([7], dtype='int64')

In [75]:
arr = np.array([[1,2,np.nan],[7,3,4]])

In [77]:
dframe1 = DataFrame(arr,index=['a','b'],columns=['one','two','three'])
dframe1

   one  two  three
a  1.0  2.0    NaN
b  7.0  3.0    4.0

In [80]:
dframe1.sum(axis=1)

a     3.0
b    14.0
dtype: float64

In [82]:
dframe1.describe()

            one       two  three
count  2.000000  2.000000    1.0
mean   4.000000  2.500000    4.0
std    4.242641  0.707107    NaN
min    1.000000  2.000000    4.0
25%    2.500000  2.250000    4.0
50%    4.000000  2.500000    4.0
75%    5.500000  2.750000    4.0
max    7.000000  3.000000    4.0

In [91]:
#Now lets check correlation and covariance on some stock prices!

#Pandas can get info off the web
import pandas.io.data as pdweb
from pandas.io import data, wb
#Set datetime for date input
import datetime

#Get the closing prices

prices = pdweb.get_data_yahoo(['CVX','XOM','BP'], 
                               start=datetime.datetime(2010, 1, 1), 
                               end=datetime.datetime(2013, 1, 1))['Adj Close']
#Show preview
prices.head()

ImportError: The pandas.io.data module is moved to a separate package (pandas-datareader). After installing the pandas-datareader package (https://github.com/pandas-dev/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.