In [63]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [116]:
#df_train = df.drop(df.columns[3],df.columns[10],axis=1)  ##error
#df_train = df[['Pclass','Fare']]
df_train = df[[df.columns[2],df.columns[9],df.columns[5]]]

In [117]:
from sklearn import tree
#X = [[0, 0], [1, 1]]
#Y = [0, 1]
x_train = df_train
y_train = df['Survived']
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
pred = clf.predict([[3,7.925,38]])

import numpy as np
from sklearn.metrics import accuracy_score
y_test = [0]
accuracy_score(pred, y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [97]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64